
/* base */

@import './base/base.css';
@import './base/layout.css';
@import './base/reset.css';
@import './base/variables.css';
/* 3rd-party */

/* @import './3rd-party/font-awesome.min.css'; */

/* components */

@import './components/button.css';
@import './components/footer.css';
/* header start */

@import './components/header.css';
@import '../js/header.js';
/* header end */

/* hero start */

/* hero end */

/* about me + skills start */

/* about me + skills end */

/* services start */

.services-container {
    background-color: #fff;
    padding: 60px 0;
}

.services-card {
    border-radius: 10px;
    padding: 20px;
}

.service-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px -8px rgb(0 0 0/ 10%);
}
/* services end */



/* portfolio start */
.portfolio-container {
    background-color: #fff;
    padding: 70px 0;
}
#portfolio-filtering {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#portfolio-filtering span {
       font-size: 16px;
       font-weight: 700;
       margin: 0 15px;
}
#portfolio img {
    width: 100%;
    height: auto;
}
.portfolio-card {
    padding: 20px;
}
/* portfolio end */



/* testimonials start */

/* testimonials end */

/* achievements with counters start */

.achievements-container {
    padding: 70px 0;
}

.achievements-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.achievements-container p {
    font-weight: 600;
    padding-top: 10px;
}

/* achievements with counters end */

/* blog start */

/* blog end */

/* contact us start */

.contact-container {
    padding: 50px 0;
}

#contact form {
    padding: 50px 0;
}

#contact form .input-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    margin-top: 15px;
}

#contact form .input-row input {
    width: 100%;
}

#contact form .input-row input:first-child {
    margin-right: 15px;
}

#contact form .input-row input:last-child {
    margin-left: 15px;
}

#contact form textarea {
    resize: vertical;
    margin-bottom: 30px;
}

#contact form input:not([type='submit']), #contact form textarea {
    background: #f4f4f4;
    padding: 12px;
    color: #ccc;
    border: 0;
    border-radius: 5px;
    outline: none;
    width: 100%;
}

/* contact us end */

/* footer start */

/* footer end */
