/* base */

@import './base/base.css';
@import './base/layout.css';
@import './base/reset.css';
@import './base/variables.css';
@import './base/font.css';
/* 3rd-party */

/* @import './3rd-party/font-awesome.min.css'; */

/* components */

@import './components/button.css';
@import './components/footer.css';
/* header start */

@import './components/header.css';
@import '../js/header.js';
/* header end */

/* hero start */

/* hero end */

/* about me + skills start */
.about-container {
	padding-top: 100px;
	padding-bottom: 70px;
}

.about-container .about-me-skills {
	margin-top: 20px;
	margin-bottom: 50px;
	width: 100%;
}

.about-container .skills-progress {
	width: 100%;
	padding: 5px 10px;
}

.about-container .item {
	border: 1px solid black;
	margin-bottom: 15px;
	border-radius: 10px;
	background-color: black;
    color: white;
}
.about-container .about-me-skills .span {
	width: 21%;
}

.about-container .about-me-skills h6 {
	margin-top: 3px;
    margin-bottom: 3px;
}

.contact-me-btn {
	background-color: #fff;
	color: black;
}

.contact-me-btn:hover {
	background-color: black;
	color: #fff;
}





.about-me-section {
    align-items: flex-start;
	display: flex;
    flex-direction: row;
    justify-content: center;
}


.about-me-right-side {
    align-items: start;
	display: flex;
    flex-direction: column;
}


.about-me-right-side > span {
	color: #999;
	letter-spacing: 3px;
	margin-bottom: 20px;
}

.about-me-right-side p {
	font-size: 15px;
	line-height: 1.6;
	text-align: start;
}

.about-me-right-side p span {
	font-weight: 600;
}


/* about me + skills end */


/* services start */

.services-container {
	background-color: #f4f4f4;
	padding: 60px 0;
}

#services .services-card {
	border-radius: 10px;
	padding: 20px;
}

#services .service-item {
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 10px 30px -8px rgb(0 0 0/ 10%);
}

/* services end */

/* portfolio start */

/* portfolio end */

/* testimonials start */

/* testimonials end */

/* achievements with counters start */

.achievements-container {
	padding: 70px 0;
}

#achievements .count-number {
	font-weight: 900;
	font-size: 28px;
	margin-bottom: 10px auto;
}

#achievements .achievments-card {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#achievements .achievements-icons {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px auto;
}

#achievements .achievements-container p {
	font-weight: 600;
	padding-top: 10px;
}

/* achievements with counters end */

/* blog start */

/* blog end */

/* contact us start */

.contact-container {
	padding: 50px 0;
}

#contact .contact-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact .contact-item-title {
	font-weight: 600;
	font-size: 16px;
	margin-bottom: 10px;
}

#contact form {
	padding: 50px 0;
}

#contact form .input-row {
	display: flex;
	flex-direction: row;
	margin-bottom: 15px;
	margin-top: 15px;
}

#contact form .input-row input {
	width: 100%;
}

#contact form .input-row input:first-child {
	margin-right: 15px;
}

#contact form .input-row input:last-child {
	margin-left: 15px;
}

#contact form textarea {
	resize: vertical;
	margin-bottom: 30px;
}

#contact form input:not([type='submit']),
#contact form textarea {
	background: #f4f4f4;
	padding: 12px;
	color: #ccc;
	border: 0;
	border-radius: 5px;
	outline: none;
	width: 100%;
}

/* contact us end */

/* footer start */

/* footer end */
