/* bendro pobudzio elementai, kuriuos galima naudoti skirtingose vietose, nepriklausomai nuo konteksto */

@font-face {
    font-family: PoppinsRegular;
    src: url('../../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: PoppinsBold;
    src: url('../../fonts/Poppins-ExtraBold.ttf');
}

body {
    font-family: PoppinsRegular;
}

.section-title h3 {
    font-family: PoppinsBold;
    font-size: 36px;
    color: rgb(52, 52, 52);
    border-bottom: 4px dotted rgb(216, 216, 216);
    width: fit-content;
}
